# We are going to scrape data from https://www.naukri.com/ 1.job title 2.job location 3.company name 4.experience required

In [164]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\nehap\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\nehap\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\nehap\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nehap\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nehap\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\nehap\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\nehap\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\nehap\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\nehap\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\nehap\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\nehap\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\nehap\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\nehap\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nehap\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\nehap\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nehap\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [165]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [166]:
driver = webdriver.Chrome()

In [167]:
#Opening the web page or the Chrome browser
driver.get("https://www.naukri.com/")

In [168]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [169]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Banglore')

In [170]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [171]:
job_title =[]
job_location=[]
company_name=[]
experience_required=[]

In [172]:
#Scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
    
    
#Scraping job location from given page
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
    
    
#Scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company=i.text
    company_name.append(company)
    
    
#Scraping Job experience from given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [173]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [174]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company_name':company_name,'Experience':experience_required})
df

,Title,Location,Company_name,Experience
0,Data Analyst,Bengaluru,Target,2-4 Yrs
1,Data Analyst,Bengaluru,Mensa Brand Technologies,2-4 Yrs
2,FP&A Data Analyst,"Pune, Bengaluru",Alphawave SEMI,2-5 Yrs
3,Data Analyst,Remote,Puresoftware,5-10 Yrs
4,"Data Analyst(Python , Pyspark )_ MNC",Hybrid - Bengaluru(Electronic City),MNC (Permanent Role ),7-12 Yrs
5,Data Sourcing & Triage Analyst,Bengaluru,Janes,0-3 Yrs
6,Online Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",TELUS International,1-4 Yrs
7,Data Services Analyst III,Bengaluru,Zoom Info,4-8 Yrs
8,Data Analyst,"Hyderabad, Bengaluru",Team Lease Dgital,6-10 Yrs
9,Data Analyst,"Hyderabad, Bengaluru, Delhi / NCR",Tata Consultancy Services (TCS),4-9 Yrs
10,Data Analyst,Bengaluru,Softtek,4-6 Yrs
11,Data Analyst,Bengaluru,NetSkope Software,3-5 Yrs
12,ETL - Data Analyst,Bengaluru,2coms,5-10 Yrs
13,Data Analyst (automotive),Bangalore/Bengaluru(Domlur),Fenyes Engineered Technology Pvt Ltd,5-6 Yrs
14,FHIR Data Analyst,Bengaluru,Infosys,3-6 Yrs
15,Data Analyst,"Hybrid - Hyderabad, Telangana, Bangalore Rural...",Tsit Digital Technologies,5-10 Yrs
16,Data Analyst,Bengaluru(4th Phase JP Nagar),Objectwin Technology,1-5 Yrs
17,Data Analyst,Hybrid - Bengaluru,PwC Service Delivery Center,4-8 Yrs
18,Data Analyst,"Mumbai, Hyderabad, Pune, Chennai, Gurugram, Be...",Capco,7-8 Yrs
19,Data Analyst,Bengaluru,Simplilearn,1-3 Yrs

In [175]:
#to fetch the url-
url=driver.find_elements(By.XPATH,'//a[@class="title "]')
url[0:18]

[<selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.122")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.123")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.124")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.202")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.203")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.204")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.206")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.125")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.126")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.127")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.128")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.129")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.130")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.131")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.132")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.133")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f42a94a46ac5382dfca0e110881fda8b", element="f.2AF0AC69B07EAD0478F5F70B3C46FCA1.d.AE17374ADC788F5E0D4CD46C0D8A0521.e.134")>]

In [176]:
for i in url[0:18]: #lets provide range to print the links
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-target-corporation-india-pvt-ltd-bengaluru-2-to-4-years-270224501431
https://www.naukri.com/job-listings-data-analyst-mensa-brand-technologies-bengaluru-2-to-4-years-080324004424
https://www.naukri.com/job-listings-fp-a-data-analyst-open-silicon-inc-pune-bengaluru-2-to-5-years-070324501069
None
None
None
None
None
https://www.naukri.com/job-listings-data-analyst-puresoftware-bengaluru-karnataka-5-to-10-years-060324007710
https://www.naukri.com/job-listings-data-analyst-python-pyspark-mnc-futurense-technologies-bengaluru-7-to-12-years-070324011407
https://www.naukri.com/job-listings-data-sourcing-triage-analyst-janes-bengaluru-0-to-3-years-060324501502
https://www.naukri.com/job-listings-online-data-analyst-telus-international-kolkata-mumbai-new-delhi-hyderabad-pune-chennai-bengaluru-1-to-4-years-040324501005
https://www.naukri.com/job-listings-data-services-analyst-iii-zoom-info-bengaluru-4-to-8-years-060324500343
https://www.naukri.com/job-listings-data-analyst-teamlease-hyderabad-bengaluru-6-to-10-years-010324006493
https://www.naukri.com/job-listings-data-analyst-tata-consultancy-services-tcs-hyderabad-bengaluru-delhi-ncr-4-to-9-years-220224006902
https://www.naukri.com/job-listings-data-analyst-softtek-india-private-limited-bengaluru-4-to-6-years-010324006159
https://www.naukri.com/job-listings-data-analyst-netskope-bengaluru-3-to-5-years-290224501394
https://www.naukri.com/job-listings-etl-data-analyst-2coms-bengaluru-5-to-10-years-270224005821

In [177]:
job_titles=[]

In [180]:
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/main/div[1]/div[2]/div[3]/div/a[2]')
    next_button.click()
    time.sleep(3)

In [181]:
len(job_titles)

100

In [182]:
job_titles

['Data Analyst',
 'Data Analyst',
 'FP&A Data Analyst',
 'Data Analyst',
 'Data Analyst(Python , Pyspark )_ MNC',
 'Data Sourcing & Triage Analyst',
 'Online Data Analyst',
 'Data Services Analyst III',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'ETL - Data Analyst',
 'Data Analyst (automotive)',
 'FHIR Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'FP&A Data Analyst',
 'Data Analyst',
 'Data Analyst(Python , Pyspark )_ MNC',
 'Data Sourcing & Triage Analyst',
 'Online Data Analyst',
 'Data Services Analyst III',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'ETL - Data Analyst',
 'Data Analyst (automotive)',
 'FHIR Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Job opportunity _ Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Intelliswift is hiring For a Data Analyst Bangalore (Hybrid)',
 'AWS Data Engineer/Data Analyst - Need Immediate_Deloitte',
 'AWS Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Platform Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst Opportunity with Straive',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'data analyst',
 'Data Analyst',
 'Data Analyst (Informatica)',
 'Data Strategy Analyst',
 'Data Pull Analyst -Taxation (Contractual role)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Eng, Mgmt & Governance Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst | Bangalore Location',
 'Data Analyst -M&T',
 'Data Analyst',
 'Data Analyst',
 'DATA ANALYST',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - X Delivery',
 'Urgent Hiring For Data Analyst Role',
 'Data Analyst - X Delivery',
 'Data Analyst',
 'Royalty Billing & Data Analyst',
 'Data Engineer & Data Analyst',
 'Data Analyst',
 'Industrial Iot Data Analyst',
 'Staff Data Analyst - JioCinema']